#app{
    padding: 1em;
}

html{
    font-family: 'Open Sans', sans-serif;
    background-color: #283038;
    padding: 0.5em;
}
body{
    color: #aaa;
}
h1{
    font-weight: 100;
}
.outline{
    outline: 1px dotted #585048;
    outline-offset: -1px;
}
.outline:hover{ outline-color: #686058; }

#site-title{
    width: 100%;
    height: 4em;
    text-align: center;
    font-weight: 100;
    margin-bottom: 1em;
}

#site-mainTitle{
    font-size: 1.7em;
    font-weight: 100;
    color: #c0c0c0;
    padding-top: 0.1em;
}
#site-subTitle{
    font-size: 0.7em;
    color: #808080;
}
