#app{
}

html{
    font-family: 'Open Sans', sans-serif;
    background-color: #384048;
    padding: 1em;
}
body{
    color: #aaa;
    padding: 0em;
    margin: 0em;
}
h1, h2, h3{
    font-weight: 100;
    margin: 0 0 0.5em 0;
    padding: 0 0 0.125em 0;
}
h2{
    font-size: 1.2em;
    border-bottom: 1px solid #485058;
}

p{
    margin: 0em;
}
div.outline{ background-color: rgba(0,0,0,0.1); }

.outline{
    outline: 1px dotted #686058;
    outline-offset: -1px;
    padding: 1em 1em;
    margin: 1em 0;
}
.outline:first-of-type { margin-top: 0; }
.outline:last-of-type { margin-bottom: 0; }
.outline:hover{ outline-color: #787068; }

#site-title{
    width: auto;
    text-align: center;
    font-weight: 100;
}

#site-mainTitle{
    font-size: 1.7em;
    font-weight: 100;
    color: #c0c0c0;
    margin: 0em;
}
#site-subTitle{
    font-size: 0.7em;
    color: #808080;
    margin: 0em;
}

.component-meta{
  height: auto;
}

p .component-title{
    font-size: 4.4em;
    border-bottom: 1px solid #485058;
}



/*********************/
/* VISUALIZATIONS START
/*********************/
div.point{
    background-color: #787068;
    text-align: center;
}
/*********************/
/* VISUALIZATIONS END
/*********************/
